@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    margin: 0;
    background-color: #2980b9;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2980b9;
}

.div-left{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.div-left h1{
    color: #ffffff;
    font-size: 2.5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img-login{
    width: 35vw;
}

.div-right{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.card-login{
    margin-top: 40px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding: 50px 5px;
    background-color: #1e6fa3;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #2980b9;
}

.card-login h1{
    color: #ffffff;
    font-weight: 700;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;

}

.text-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.text-field input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 17px 35px;
    background-color: #3498db;
    color: white;
    font-size: 12px;
    box-shadow: 0px 10px 40px #2980b9;
    outline: none;
    box-sizing: border-box;
    
}

.text-field label{
    color: #ffffff;
    margin-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.btn-login{
    width: 50%;
    padding: 15px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px; 
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #ffffff;
    transition: ease-in-out;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.btn-login:hover{
    background-color: #3498db;
}


@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media (max-width: 800px)
{
    .div-left h1
    {
        z-index: 99;
        margin-top: 1em;
        margin-bottom: 0px;
        font-size: 22px;
    }
    .card-login 
    {
        margin-top: 60px;
    }
    .main-login{
        flex-direction: column-reverse;
    }

}


